	<!--section id = "about"-->
	<div  class="brand">About</div>
	<div  class ="row bgwhite">
		
		<div class ="box ">
			<div class = "col-md-12">
				
		
			</div>
			<div class = "col-md-8 col-md-offset-0">
								
				<img class = "img-left img-circle" src ="./img/bio.jpg" />
			
				<h3>	Owner and producer <strong> Rebecca Rideout </strong>has thirteen years of experience shooting, editing, researching and producing non-fiction films.</h3>
				<br>
			<p>	Rideout has produced videos for universities, non-profits, businesses, innovators, practitioners, and artisans in the Pioneer Valley region and beyond since 2012.</ br> </p>
			<p>	Previously, she worked on dozens of films for museums and learning centers with <a href="http://www.monadnock.org/" target="_blank">Monadnock Media, Inc.,</a> played various roles for multiple PBS-broadcast productions with <a href="http://www.florentinefilms.org/" target="_blank">Florentine Films / Hott Productions,</a> and co-produced <i>Feeding Frenzy</i>, a feature-length documentary for the <a href="http://www.mediaed.org/" target="_blank">Media Education Foundation.</a><br /><br />

					
			</div><!--end car -->
		
			<div class = "col-md-2 no-gutter">
					<img class= "img-responsive" src ="./img/about/yon.jpg" alt="...">
					<img class= "img-responsive" src ="./img/about/fish.jpg" alt="...">   
			</div>
			<div class = "col-md-2 no-gutter">
					<img class= "img-responsive" src ="./img/about/dress.jpg" alt="...">
					<img class= "img-responsive" src ="./img/about/hands.jpg" alt="...">   
			</div><!--end col -->
		</div>
	</div>	<!--end row -->
	<!--/section-->