	<!--section id = "about"-->
	<div  class="brand">About</div>
	<div  class ="row">
		
		<div class ="box">
			<div class = "col-md-12">
				<p>	Owner and producer <strong> Rebecca Rideout </strong>has over twelve years of experience shooting, editing, and producing non-fiction films.</p>
				<hr>
			</div>
			<div class = "col-md-8 col-md-offset-0">
								
				<img class = "img-left img-circle" src ="./img/bio.jpg" />

			<p>	Rideout worked on dozens of films for museums and learning centers with <a href="http://www.monadnock.org/" target="_blank">Monadnock Media, Inc.</a> such as the Harry S. Truman Presidential Library, the Smithsonian National Postal Museum, the Henry Lee Learning Center at the University of New Haven and GulfQuest: the National Museum of the Gulf of Mexico. She has also researched and edited for multiple PBS-broadcast films for <a href="http://www.florentinefilms.org/" target="_blank">Florentine Films / Hott Productions.</a><br /><br />

				Rideout’s recent freelance experience includes producing, shooting and editing films for clients such as Umass Amherst, Hampshire College, Smith College, Western New England University, Stoneleigh Burnham School, The Pioneer Valley Planning Commission, MotherWoman, Amherst Live, and over a dozen of business owners, artists, and practitioners in the Pioneer Valley region.
				In 2013, Rideout co-produced Feeding Frenzy, a feature-length documentary for the <a href="http://www.mediaed.org/" target="_blank">Media Education Foundation.</a> </ br> </p>
			</div><!--end car -->
		
			<div class = "col-md-2 no-gutter">
					<img class= "img-responsive" src ="./img/about/yon.jpg" alt="...">
					<img class= "img-responsive" src ="./img/about/fish.jpg" alt="...">   
			</div>
			<div class = "col-md-2 no-gutter">
					<img class= "img-responsive" src ="./img/about/dress.jpg" alt="...">
					<img class= "img-responsive" src ="./img/about/hands.jpg" alt="...">   
			</div><!--end col -->
		</div>
	</div>	<!--end row -->
	<!--/section-->