
	<div  class="brand">Custom, Compact Video</div>
	<div class ="row">
	
	

		<div class ="box">
			<div class = "col-md-6">
				<br><br>
		
				  <!-- Indicators -->
			  

					  <!-- Wrapper for slides -->
					<div told-carousel="" src="'brand.json'"></div>
				
			</div><!--end col -->
			<div class = "col-md-6 borderleft">
			
				<h1 >Services:
				<small>Our background in documentary production allows us to deliver personalized, compelling video stories.</small></h1>
				<ul class="servicelist">
				
				<li><i class="fa fa-asterisk"></i> Consultation & Scripting</li>
				<li><i class="fa fa-asterisk"></i> Documentary Production</li>
				<li><i class="fa fa-asterisk"></i> Professional Editing</li>
				<li><i class="fa fa-asterisk"></i> Full Service Graphics</li>
				<li><i class="fa fa-asterisk"></i> Custom Composed Music</li>
				<li><i class="fa fa-asterisk"></i> Final File Delivery</li>
				</ul>
				<!--div class="">
			<h3>	<strong>We work with you to refine your message - </strong><br> from preliminary consultation to final file delivery.</h4>
				</div>
			</div --><!--end col -->
		</div>
	</div>	<!--end row -->
