<div id="carousel-brand" class="carousel slide" data-interval="5000" data-ride="carousel">
  <!-- Indicators -->
  <!--ol class="carousel-indicators">
    <li class = "told_carousel" ng-repeat = "item in carousel" data-target="#carousel-brand" data-slide-to={{$index}} ng-class="{active : $first}"></li>
  </ol-->
	
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div ng-repeat = "item in carousel" class="item row" ng-class="{active : $first}">		
			<div class = "col-md-offset-1 col-md-11"><h1 class = "jsans strong jumbo">{{item.crumb}}</h1></div>
	       <div class = "col-md-offset-3 col-md-6"><p class="standout" ng-bind-html="item.text"></p>
	</div>
	
		
      
    </div>
  </div>

  <!-- Controls 
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>-->
</div>