
    <div class="container">

	<br>
        <div class="row text-center">
			<div class = "col-lg-4">
					<a target="_blank" href="https://www.facebook.com/ToldVideo" class="btn btn-facebook"><i class="fa fa-facebook"></i> </a>
					<a target="_blank" href="https://twitter.com/toldvideo" class="btn btn-twitter"><i class="fa fa-twitter"></i> </a>
					<a target="_blank" href="http://vimeo.com/user14211432" class="btn btn-tumblr"><i class="fa fa-vimeo-square"></i> </a>
			</div>
			<div class = "col-lg-4" style="border-left: 1px white solid; border-right: 1px white solid">
				<address >
				  <strong>Told Video</strong><br>
				  <abbr title="Phone">P:</abbr> (413) 658-8038
				</address>
			</div>
			
			
		
			
			<div class = "col-lg-4">
				<a href="mailto:rebecca@toldvideo.com" class="btn btn-danger btn-lg fa fa-envelope"> Contact Us</a><br><br>
			
			</div>
			
			
           
        </div>

		<br>
    </div>
