<div  class="brand">{{config.title}}</div>
<div class ="row">
	
	<div ng-class ="box_class">
		<div class = "col-md-4 col-md-offset-0" ng-repeat="item in config.gallery">
			

			
			
			<videogular vg-theme="controller.vidconfig.theme">
			        <vg-media vg-src="item.sources"
			                 >
			        </vg-media>

			        <vg-controls vg-autohide="true" vg-autohide-time="1000">
			            <vg-play-pause-button></vg-play-pause-button>
			            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
			            <vg-scrub-bar>
			                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
			            </vg-scrub-bar>
			            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
			            <vg-volume>
			                <vg-mute-button></vg-mute-button>
			                <vg-volume-bar></vg-volume-bar>
			            </vg-volume>
			            <vg-fullscreen-button></vg-fullscreen-button>
			        </vg-controls>
					<vg-poster vg-url='item.poster'></vg-poster>

			        <vg-overlay-play></vg-overlay-play>
			    </videogular>
		
			<h2>{{item.title}}</h2>
			<hr ng-hide="!item.title || !item.body">
			<p ng-bind-html="item.body">
				
			</p>
		</div>
		
	</div><!--end col -->
</div>	<!--end row -->
