
<div  class="brand">Samples</div>
<div class ="row">
	
	<div class ="box">
		<div class = "col-md-4 col-md-offset-0">
	
			<img class= "img-responsive" src ="http://lorempixel.com/400/225" alt="...">
			<h2>Ample,<br>
			<small>grilling space.</small></h2>
			<hr>
			<ul>
				<li><p>Health goth roof party chambray.</p></li>
				<li><p>Bushwick slow-carb meditation.</p></li>
				<li><p>Cosby sweater normcore Echo Park, Neutra ennui Portland squid. </p></li>
				<li><p>Mumblecore keytar lumbersexual.</p></li>
				
			</ul>
		</div>
		<div class = "col-md-4 col-md-offset-0">
			
			<img  class= "img-responsive" src ="http://lorempixel.com/800/450" alt="...">
			<h2>Famous,<br>
			<small>electric, and amazing.</small></h2>
			<hr>
			<ul>
			
				<li><p>Health goth roof party chambray.</p></li>
				<li><p>Bushwick slow-carb meditation.</p></li>
				<li><p>Cosby sweater normcore Echo Park, Neutra ennui Portland squid. </p></li>
				<li><p>Mumblecore keytar lumbersexual.</p></li>
				
			</ul>
		</div>
		<div class = "col-md-4 col-md-offset-0">
	
			<img   class= "img-responsive" src ="http://lorempixel.com/1600/900" alt="...">
			<h2>Bold,<br>
			<small>synergistic strategies.</small></h2>
			<hr>
			<ul>
				<li><p>Health goth roof party chambray.</p></li>
				<li><p>Bushwick slow-carb meditation.</p></li>
				<li><p>Cosby sweater normcore Echo Park, Neutra ennui Portland squid. </p></li>
				<li><p>Mumblecore keytar lumbersexual.</p></li>
				
			</ul>
		</div>
	</div><!--end col -->
</div>	<!--end row -->
